body {
    background-color: #19191a;
    color: white;
}

.App {
    text-align: center;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #ffffff;
}

.button-container {
    display: inline-block;
    width: 50%;
    text-align: center;
}

.form-container {
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-container {
    text-align: center;
    min-height: 100vh;
    /* width: 75%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
